<div class="aboutUs">
    <h3>什么是旅鸟</h3>
    <p>候鸟在依不同季节而从一个栖居地飞到另一个栖居地的过程中，经过某些地区，不在这个地区繁殖， 也不在这个地区过冬，这种候鸟就成为该地区的旅鸟。</p>
    <br />
    <h3>关于我们</h3>
    <p>我们来自沈阳美行科技有限公司（www.mxnavi.com）</p>
    <p>沈阳美行科技有限公司成立于2008年，拥有600余人的技术研发团队。 业务范围覆盖车载导航、手机导航、地图编译、车载信息娱乐系统、车联网服务平台、海外旅游地图6大领域。 是中国最大的独立车载导航软件提供商，为数百家国内外车厂及车载设备供应商提供地图服务， 车载导航市场装载量超过500万台。</p>
    <br />
    <h3>我们的定位</h3>
    <p>为华人用户提供基于位置的一体化自由行服务，让自由行更自由。</p>
    <br />
    <h3>我们使命</h3>
    <p>做一张全球中文旅游地图，助大家实现畅游世界的梦想。</p>
    <br /><br /><br />
</div>