<div id="view_appDown_scroll">
    <div class="appDown_logo">
        <img src="../src/images/appDown_logo.png" />
    </div>
    <div class="appDown">
        <!--
        <div class="appDown_title" style="margin-top: 0px;">旅鸟日本地图PRO版</div>
        <div class="appDown_content">
            <div class="ios_button" data-bind="event:{tap:japanIosDown}">
                &nbsp;&nbsp;iPhone
                <img src="../src/images/pro.png" />
            </div><div class="button_z">
                &nbsp;
            </div><div class="android_button" data-bind="event:{tap:japanAndroidDown}">
                &nbsp;&nbsp;Android
                <img src="../src/images/pro.png" />
            </div>
        </div>
        <div class="appDown_title">旅鸟韩国地图PRO版</div>
        <div class="appDown_content">
            <div class="ios_button" data-bind="event:{tap:koreaIosDown}">
                &nbsp;&nbsp;iPhone
                <img src="../src/images/pro.png" />
            </div><div class="button_z">
            &nbsp;
        </div><div class="android_button" data-bind="event:{tap:koreaAndroidDown}">
            &nbsp;&nbsp;Android
            <img src="../src/images/pro.png" />
        </div>
        </div>
        -->
        <div class="appDown_title">旅鸟地图LITE版</div>
        <div class="appDown_content">
            <div class="ios_button" data-bind="event:{tap:iosLiteDown}">
                &nbsp;&nbsp;iPhone
                <img src="../src/images/lite.png" />
            </div><div class="button_z">
            &nbsp;
        </div><div class="android_button" data-bind="event:{tap:androidLiteDown}">
            &nbsp;&nbsp;Android
            <img src="../src/images/lite.png" />
        </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
    </div>
    <img src="../src/images/appDown_bottom_img.png" width="100%" />
</div>