<div id="view_help_scroll">
    <div class="help_text">
        <h1>旅鸟地图lite版使用帮助</h1>
        <p><br />
        <span class="green">地图简介</span><br />
        全球中文旅游好帮手-旅鸟地图<br />
            “旅鸟地图”是世界上首份为汉语使用者制作的中文世界旅游地图。该地图的地点信息囊括了全球所有的精品旅游景点信息，是汉语出国游玩游客不可或缺的指路工具。旅鸟地图的中文地名均按照严格的翻译规则进行翻译，而且参考了招牌上实际使用的汉字和英文标识，以增强地图的实用性，是一份真正为汉语使用者提供准确、实用、细致服务的旅游地图。</p>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">1.搜索功能</span><br />
            可以通过直接输入名称检索，和周边信息检索两种方式，比如在地图上方的检索栏，输入新国际酒店，即可出现新国际酒店相关信息，选择即可查看明细。</p>
    </div>
    <div class="viewport" id="viewport1">
        <div class="wrapper" id="wrapper1">
            <div class="scroller" id="scroller1">
                <div class="slide">
                    <img src="../src/images/search_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/search_2.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p>
            周边信息检索，点击搜索框，即可出现周边信息分类，选择即可进入</p>
    </div>
    <div class="viewport" id="viewport2">
        <div class="wrapper" id="wrapper2">
            <div class="scroller" id="scroller2">
                <div class="slide">
                    <img src="../src/images/search_4.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/search_5.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/search_6.jpg" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/search_7.jpg" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">2.导航功能</span><br />
            在地图上选中独立门，点击开始即可全程中文语音导航至目的地，并且准确快速的测算出目标距离</p>
    </div>
    <div class="viewport" id="viewport3">
        <div class="wrapper" id="wrapper3">
            <div class="scroller" id="scroller3">
                <div class="slide">
                    <img src="../src/images/navigation_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/navigation_2.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">3.行程功能</span><br />
            选择行程页面，搜索想要添加的目的地，例如罗丹画廊，点击添加行程，即可将目的地添加到当日行程中</p>
    </div>
    <div class="viewport" id="viewport4">
        <div class="wrapper" id="wrapper4">
            <div class="scroller" id="scroller4">
                <div class="slide">
                    <img src="../src/images/stroke_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/stroke_2.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/stroke_3.jpg" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">4.服务功能</span><br />
            出行服务中，包括机票、保险、酒店、签证、WiFi、当地游、机场接送、门票、租车等（此功能需联网使用）。点击任意一个按钮，可进入具体服务内容中。点击图中的[机票]，进入机票预定网站，可转到相应网站机票预定画页。进入右下角X，即可跳回旅鸟地图页面</p>
    </div>
    <div class="viewport" id="viewport5">
        <div class="wrapper" id="wrapper5">
            <div class="scroller" id="scroller5">
                <div class="slide">
                    <img src="../src/images/service_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/service_2.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/service_3.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/service_4.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">5.数据功能</span><br />
            点击图[地图管理]，即可进入[我的地图]界面进行地图下载</p>
    </div>
    <div class="viewport" id="viewport6">
        <div class="wrapper" id="wrapper6">
            <div class="scroller" id="scroller6">
                <div class="slide">
                    <img src="../src/images/data_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/data_2.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p><br />
            <span class="green">6.注册功能</span><br />
            这里可以进行注册、登录并下载各国的地图数据。填写手机号后，点击获取验证码，录入登录密码后，即可注册成功开始使用</p>
    </div>
    <div class="viewport" id="viewport7">
        <div class="wrapper" id="wrapper7">
            <div class="scroller" id="scroller7">
                <div class="slide">
                    <img src="../src/images/registered_1.png" width="100%"/>
                </div><div class="slide">
                    <img src="../src/images/registered_2.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="help_text">
        <p>
            旅鸟地图秉承“准确、细致、实用”的理念，为了制作对用户有帮助的地图而一直不断地努力着，希望旅鸟地图能成为您境外旅游的好帮手！</p>
    </div>
</div>