<div class="banner">
    <img data-bind="event:{tap:help}" src="../src/images/banner_2.png" />
    <div class="index_appDown" data-bind="event:{tap:appDown}">APP下载</div>
</div>
<div class="service">
    <div class="index_hotels" data-bind="event:{tap:hotels}">
        <h3 class="blue">最优惠房价</h3>
        <p class="gray">全球900000家酒店预定</p>
    </div><div class="index_localTour" data-bind="event:{tap:localTourList}">
        <h3 class="orange">玩转自由行</h3>
        <p class="gray">门票、当地游、机场接送</p>
    </div><div class="index_car" data-bind="event:{tap:car}">
        <h3 class="red">轻松自驾游</h3>
        <p class="gray">150个国家，50000家门店</p>
    </div>
</div>
<div class="index_activity_title"><h1 class="green">地图活动</h1></div>
<div class="index_activity">
    <div class="index_activity_left" data-bind="event:{tap:activity}"><img src="../src/images/index_shuqi.png" width="100%" />
    </div><div class="index_activity_right">
        <div id="help" data-bind="event:{tap:help}">
            <img src="../src/images/help.png" width="20" />
            <br />
            <p>了解旅鸟使用方法</p>
            <h3>使用帮助</h3>
        </div>
        <div id="version" data-bind="event:{tap:version}">
            <img src="../src/images/version.png" width="15" />
            <br />
            <p class="white">PRO版LITE版区别</p>
            <h3 class="white">版本差异</h3>
        </div>
    </div>
</div>
<div id="product" class="index_activity_title" style="border-bottom: 1px solid #e6e6e6;"><h1 class="green">产品特色</h1></div>
<div class="product">
    <img src="../src/images/001.png" width="60%" />
    <div>2016全球 <span class="green">最新</span> 数据<br />
        韩国已发布，更多国家即将上线
    </div>
    <img src="../src/images/002.png" width="100%" />
    <div><span class="green">中文</span> 全境离线旅游地图<br />
        离线地图、海量汉化、双语对照、中文检索、中文导航
    </div>
    <img src="../src/images/003.png" width="60%" />
    <div><span class="green">自由行</span> 必备神器<br />
        酒店、景点、美食、购物、娱乐信息便捷查询
    </div>
</div>
<div id="index_version" class="index_activity_title"><h1 class="green">版本差异</h1></div>
<div class="index_version">

        <div class="index_version_content">
            <img src="../src/images/icon01.png" /><br/>
            <span>采用OSM<br />数据</span>
        </div><div class="index_version_content">
            <img src="../src/images/vs.png" /><br/>
            <span class="green">Map Data<br /><br /></span>
        </div><div class="index_version_content">
            <img src="../src/images/icon02.png" /><br/>
            <span>采用zenrin<br />专业数据</span>
        </div><div class="index_version_content">
            <img src="../src/images/icon03.png" /><br/>
            <span>采用mappers<br />专业数据</span>
        </div>

    <div class="free_text">免费</div>
    <div class="pay_text">付费</div>
</div>
<!--
<div class="service">
    <div class="index_hotels" data-bind="event:{tap:hotels}"><img src="../src/images/hotels.png" /><span>酒店</span></div>
    <div class="index_localTour" data-bind="event:{tap:localTourList}"><img src="../src/images/localTour.png" /><span>当地游</span></div>
    <div class="index_car" data-bind="event:{tap:car}"><img src="../src/images/car.png" /><span>租车</span></div>
    <div id="service_bottom">
    <div class="index_activity" data-bind="event:{tap:activity}"><img src="../src/images/activity.png" /><span>活动专区</span></div>
    <div class="index_appDown" data-bind="event:{tap:appDown}"><img src="../src/images/appDown.png" /><span>app下载</span></div>
    </div>
</div>

<div class="partner">
    <h3>合作伙伴</h3>
    <p>我们共同打造优质的出境服务</p>
    <div id="partner_main">
        <div class="partner_main_left"><img data-bind="event:{tap:prev}" src="../src/images/pageLeft.png" width="13"/></div>
        <div class="partner_main_center">
            <div id="viewport">
                <div id="wrapper">
                    <div id="scroller">
                        <div class="slide"><img data-bind="event:{tap:zhou}" src="../src/images/7zhou.png" /><img data-bind="event:{tap:b}" style="margin-left: 2%;" src="../src/images/booking.png" /></div>
                        <div class="slide"><img data-bind="event:{tap:i}" src="../src/images/iflytek.png" /><img data-bind="event:{tap:m}" style="margin-left: 2%;" src="../src/images/mappers.png"/></div>
                        <div class="slide"><img data-bind="event:{tap:o}" src="../src/images/openstreetmap.png" /><img data-bind="event:{tap:z}" style="margin-left: 2%;" src="../src/images/zenrin.png" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partner_main_right"><img data-bind="event:{tap:next}" src="../src/images/pageRight.png" width="13" /></div>
    </div>
</div>
-->