<div class="aboutUs">
    <h3>欢迎加入我们，请将简历发送至邮箱<br />lvniao@mxnavi.com</h3>
    <br />
    <h3>iOS软件开发工程师</h3>
    <p>岗位职责：<br />
    1、iOS平台上的应用设计、开发工作<br />
    2、协助产品人员完成需求分析及交互体验改善<br />
    任职资格：<br />
    1、精通Object-c编程，有良好的数据结构及算法基础功底<br />
    2、熟悉iOS系统的特性及系统接口<br />
    3、有2年以上iOS系统上的应用开发经验<br />
    4、有良好的软件工程知识和质量意识，具备较强的系统设计能力和代码开发能力<br />
    5、具有强烈的责任感、进取心和求知欲，对技术热爱、善于应用新技术</p>
    <br />
    <h3>Android软件开发工程师</h3>
    <p>岗位职责：<br />
    1、Android平台上的应用开发<br />
    2、协助产品人员完成需求分析及交互体验改善<br />
    任职资格：<br />
    1、精通Java编程，有良好的数据结构及算法基础功底<br />
    2、熟悉Android系统的特性及系统接口<br />
    3、有2年以上Android系统上的应用开发经验<br />
    4、有良好的软件工程知识和质量意识，具备较强的系统设计能力和代码开发能力<br />
    5、具有强烈的责任感、进取心和求知欲，对技术热爱、善于应用新技术</p>
    <br />
    <h3>C++软件开发工程师</h3>
    <p>岗位职责：<br />
    1、负责导航引擎部分的设计、开发工作<br />
    2、协助产品人员完成需求分析及地图产品体验改善<br />
    任职资格：<br />
    1、熟悉C/C++语言，能够熟练使用C/C++进行开发<br />
    2、具有良好的沟通能力，分析和解决问题能力<br />
    3、工作责任心强，有较强的团队意识和承压能力<br />
    4、有导航软件开发经验者优先<br />
    5、有嵌入式平台开发经验者优先，熟悉Linux者优先<br />
    6、有图像识别开发经验者、GIS相关知识者优先</p>
    <br />
    <h3>高级Java开发工程师</h3>
    <p>岗位职责：<br />
    1、负责网站分析、设计和开发<br />
    2、负责网站技术架构设计，难点攻关<br />
    任职要求：<br />
    1、3年以上Java相关开发经验<br />
    2、精通Java语言，熟悉Spring MVC、Mybatis、Hibernate、jQuery开源框架技术<br />
    3、熟悉Windows、Linux开发环境，熟练配置维护NApache、Tomcat、JBOSS等服务，掌握Shell脚本工具<br />
    4、熟悉MySQL、SQL Server、Oracle数据库系统开发<br />
    5、熟悉HTML5、CSS3、JavaScript、Ajax、jQuery等前端技术及Git版本控制软件者优先考虑<br />
    6、熟练应用成熟的分布式缓存、分布式存储技术方案</p>
    <br />
    <h3>Web前端工程师</h3>
    <p>岗位职责：<br />
    1、协助设计师实现Web前端页面及交互设计<br />
    2、协助产品完善需求，提供技术实现方案<br />
    3、优化网站前端性能，优化用户界面易用性，提高用户体验<br />
    4、负责页面元素和Js脚本的编写<br />
    任职要求：<br />
    1、一年以上Web前端开发经验<br />
    2、精通HTML5和CSS3，熟练使用CSS+DIV布局<br />
    3、精通JavaScript，对jQuery、ExtJS、AngularJs等有一定的经验，能快速高效实现各种交互效果<br />
    4、了解前后端的基本交互技术，对浏览器差异有深入了解，能根据需求提供兼容方案</p>
    <br />
    <h3>系统测试工程师</h3>
    <p>岗位职责：<br />
    1、负责公司产品和项目的测试工作，包括：分析测试需求、设计测试用例、搭建测试环境、执行测试用例、编写测试报告等工作和全球实测<br />
    2、负责管理测试中发现的Bug，追踪Bug直至解决，提交测试报告<br />
    3、参与项目的需求评审、设计评审、等评审活动，基于测试要求提出评审意见，确保项目测试目标的实现<br />
    任职要求：<br />
    1、熟悉软件测试理论和流程，熟悉Windows、Linux操作系统，擅长Web系统及后台业务系统的测试<br />
    2、熟悉软件测试的相关工具，如：管理工具JIRA，熟练LoadRunner工具优先<br />
    3、熟悉MySQL等数据库，有一定的数据库操作能力</p>
    <br />
    <h3>网站平面设计</h3>
    <p>岗位职责：<br />
    1、负责产品的线上线下推广、活动、产品创意设计等相关工作<br />
    2、根据产品的发展诉求，完成有创意的产品推广全案<br />
    3、参与产品品牌视觉的建立<br />
    4、实时把握设计的流行趋势，提出崭新的创意策略<br />
    任职资格：<br />
    1、具备扎实的美术功底，优秀的视觉表达执行能力<br />
    2、对互联网广告行业有一定的了解，对互动设计的流行趋势有灵敏的触觉和领悟能力，对潮流信息敏感<br />
    3、熟练使用Photoshop、Illustrator、Flash、CorelDraw等软件，具备较好的手绘能力<br />
    4、能独立完成Flash动画广告的设计和制作，擅长把创意概念转化为有视觉冲击力的互动作品<br />
    5、具备一定的创意文案能力优先，极富创新精神，构思新颖，创意独特，对待设计永葆激情<br />
    6、良好的美术功底、三年以上工作经验，有标识、产品包装行业设计经验者优先考虑<br />
    7、有Android、iOS、Windows Phone平台软件UI美工及设计经验者优先<br />
    8、有Web界面设计经验者优先</p>
    <br />
    <h3>高级视觉设计师</h3>
    <p>工作职责：<br />
    1、负责参与产品（网页、手持方向）的前期视觉用户研究、设计流行趋势分析，主导设定整体视觉风格和VI设计<br />
    2、负责日常的运营活动及功能维护提供美术支持<br />
    3、负责参与设计体验、流程的制定和规范<br />
    4、负责分享设计经验、推动提高团队的设计能力<br />
    职位要求：<br />
    1、本科及以上学历，美术、设计或相关专业本科以上学历（优秀人才，专业和学历可适当放宽）<br />
    2、从事设计行业工作3年以上，对工具型网站的设计有丰富经验、有成功案例（同时有手持成功案例的更佳），对视觉用户研究有一定经验和见解<br />
    3、具有深厚的设计理论与娴熟的设计技巧，善于捕捉流行趋势，并能推动团队的设计能力<br />
    4、热爱设计，拥有宽广的行业（平面设计、互联网、手持应用）视野与时尚的审美标准<br />
    5、具备良好合作态度及团队精神，并富有工作激情、创新欲望和责任感，能承受高强度的工作压力</p>
    <br />
    <h3>运营总监</h3>
    <p>岗位职责：
    1、修订及执行旅游产品运营相关的制度体系、业务流程<br />
    2、策划推进及组织协调重大运营计划、进行市场发展跟踪和策略调整<br />
    3、建立规范、高效的运营管理体系并优化完善<br />
    4、制定运营标准并监督实施<br />
    5、制定运营指标、年度发展计划，推动并确保营业指标的顺利完成<br />
    6、制定运营中心各部门的战略发展和业务计划，协调各部门的工作，建设和发展优秀的运营团<br />
    任职要求：<br />
    1、本科以上学历<br />
    2、6年以上旅游产品运营经验，3年以上高级管理工作经验<br />
    3、熟悉旅游行业动态及运营发展趋势<br />
    4、优秀的英语听、说、读、写能力<br />
    5、正直、坦诚、成熟、豁达、自信<br />
    6、优秀的领导沟通、协调、调度、指挥组织、开拓能力<br />
    7、优秀的统筹、分析、综合、归纳能力<br />
    8、高度的工作热情，良好的团队合作精神</p>
    <br />
    <h3>网络推广专员</h3>
    <p>岗位职责：<br />
    1、挖掘客户需求和产品卖点，制定推广策略<br />
    2、了解市场推广新渠道，拓展市场推广渠道<br />
    3、通过行业网站、论坛、博客、QQ、微信公众号等渠道推广<br />
    4、负责线上活动策划与执行<br />
    任职要求：<br />
    1、本科以上学历，热情开朗，良好的沟通能力，善于在线聊天，具有较强的应变能力及执行力<br />
    2、良好的语言表达能力，文笔佳，熟悉各类文案的写作，熟悉网络语言，关注新兴事物<br />
    3、熟悉Office操作，具备一定的数据分析能力，熟悉博客、微博、微信、论坛、社区及其他新兴网络推广媒介的运用<br />
    4、有网络推广经验或大型网站、电子商务网站工作经验者优先<br />
    5、有旅游行业工作经验者优先</p>
    <br />
    <h3>自媒体运营</h3>
    <p>岗位职责：<br />
    1、负责公司的微信微博等自媒体账户的日常维护与管理，提升粉丝关注度、活跃度和数量<br />
    2、负责自媒体的整体运营，包括专题策划、话题制造、活动策划及推广等，并执行自媒体营销线上及线下活动<br />
    3、与自媒体的粉丝做好互动，对粉丝的网络行为进行分析与总结，活跃粉丝<br />
    4、跟踪自媒体推广效果，对粉丝的网络行为进行分析与总结等<br />
    任职要求：<br />
    1、对新媒体敏感度高，有良好的文字功底和编辑素养<br />
    2、了解社会化媒体特点，熟悉微博、微信推广方法及口碑营销的执行操作流程<br />
    3、善于挖掘和分析用户使用习惯、分析用户数据并有自己的观点</p>
</div>