<ul id="localTourList" data-bind="foreach:itemList">
    <li data-bind="event:{tap:$root.goTo7zhou}"><div class="localTourList_li_left">
        <img data-bind="attr:{src:img.small}"/>
    </div><div class="localTourList_li_right">
        <h3 data-bind="text:name"></h3>
        <div id="price"><span class="weight" data-bind="text:shopPrice+'元'"></span><span class="startPrice">起</span></div>
    </div></li>
</ul>
<div id="noLocalTourList">
    <span>抱歉，无法找到该分类下的服务项目！<br /><br /><br /><img src="src/images/noList.png" width="50" /></span>

</div>