@charset "utf-8";
*{  -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
html,body,div,form,table,td,ul,li,ol,dl,dt,dd,p,span,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,th,a{margin:0;padding:0;word-break:break-all;list-style:none; font-size: 15px; font-family:"微软雅黑"; font-weight: normal;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
span, label, font{cursor:default;}
img{border:0px;}
html,body{margin:0px;width:100%;height:100%; overflow:hidden;background-color:#fafafa;}
html {-ms-touch-action: none;}
.blue{color: #3fbcea;}
.orange{color: #ff9c00;}
.red{color: #ff4800;}
.gray{color:#b4b4b4;}
.white{color:#ffffff;}
.green{color:#00d7a0;}
/*application*/
#view_main{width:100%;height:100%;position:relative;}
#view_main_hearder,#view_main_content,#view_main_footer{position:absolute;overflow:hidden;}
#view_main_hearder{height:50px;top:0px;background: #00D7A0;width:100%;}
#view_main_content{top:50px;bottom:50px;width:100%;}
#view_main_footer{height:49px;bottom:0px;background: #F7F7F7;border-top:1px solid #E8E8E8;width:100%;}

/*index*/
#indexContent{padding: 0px 10px 0px 10px;}
.indexContent_list_content{display: inline-block;width:100%; border-top:1px solid #E5E5E5; padding: 10px 0px 10px 0px;}
.indexContent_list li:first-child{border:0px;}
.indexContent_list_content div{display: inline-block;}
.indexContent_list_content_left{width:30%;background-size: cover; overflow: hidden;}
.indexContent_list_content_right{width:70%; overflow: hidden; padding-left: 10px; position: relative;}
.indexContent_list_content_right span{display:inline-block;position: absolute; font-size: 12px;}
.indexContent_list_content_right .tag{border:1px solid red; border-radius:5px; color:red;  bottom:2px; padding: 0px 2px;}
.indexContent_list_content_right .time{color:#979797; bottom:2px;right:0px;}
/*header*/
#view_header{height:100%;width:100%;}
#header{height:100%;padding:10px;overflow: hidden;}
#header .goBack{display: inline-block;width: 10%; height:100%; background: url("../images/system/backWhite.png") no-repeat center;}
#header .search{display: inline-block;width: 90%; height:100%; text-align: right; position: relative;}
#header .search input{border:0px; margin:0px; display: inline-block; height: 100%; width: 100%; font-size: 15px; padding-left:30px;border-radius: 5px;color:#979797; position: absolute; right:0px;background: url("../images/system/search_16px.png") no-repeat 10px center;background-color: #fff;}
/*footer*/
#view_footer{height:100%;width:100%;}
#footer{margin-top:7px;}
#footer ul li{display: inline-block;width: 25%; text-align: center;font-size: 12px; color:#979797;padding-top:20px;}
#footer .home{background:url("../images/system/home_16px.png") no-repeat top center;}
#footer .alarm{background:url("../images/system/alarm_16px.png") no-repeat top center;}
#footer .order{background:url("../images/system/order_list_16px.png") no-repeat top center;}
#footer .user{background:url("../images/system/user_16px.png") no-repeat top center;}
#footer .homeSelect{background:url("../images/system/home_16px_select.png") no-repeat top center; color:#00d7a0;}
#footer .alarmSelect{background:url("../images/system/alarm_16px_select.png") no-repeat top center; color:#00d7a0;}
#footer .orderSelect{background:url("../images/system/order_list_16px_select.png") no-repeat top center; color:#00d7a0;}
#footer .userSelect{background:url("../images/system/user_16px_select.png") no-repeat top center; color:#00d7a0;}